<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Помощь</title>
</head>
<body>
    <h1>Помощь</h1>
    <font size="5"><p>Связаться с нами: (ссылка для связи с поддержкой)</p></font>
    <br />
    <h2><p>Навигация по GIKVID.</p></h2>
    <font size="5"><p>В верхней части видеохостинга расположена поисковая строка. В ней вы можете набирать ключевые слова (теги или элементы названия канала или видео) для поиска нужного вам контента.</p><p>С левой стороны сайта вам доступна панель для выбора разделов.</p></font>
    <h3><p>Разделы:</p></h3>
    <font size="5"><ul>
        <li>«Главная страница» – Изначально вы попадаете на неё. Вернуться на неё можно, нажав на кнопку с логотипом в левом верхнем углу.</li>
        <li>«Понравившиеся» - Здесь вы можете найти видео, которым вы поставили высокую оценку.</li>
        <li>«Настройки» - Созданы для того, чтобы вы могли изменить параметры для вашего устройства. Вы можете поменять тему или язык.</li>
        <li>«О сайте» - Общая информация о GIKVID, его разработчиках, задачах и пр.</li>
        <li>«Помощь» - Здесь вам доступны контактная информация и подсказки для понимания структуры хостинга. Не поверите, но вы уже тут.</li>
        <li>«Жалобы» - Специальный раздел пользователей, наделённый правами администратора или модератора. В нём обрабатываются жалобы на контент и в зависимости от ситуации происходит удаление неприемлимого или нежелательного контента.</li>
        <li>«Ваши видео» - В данном разделе высвечиваются ваши видео. Вы можете выгрузить новые или удалить старые.</li>
    </ul></font>
</body>
</html>