<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Главная страница GIKVID</title>


</head>
<body>
    <a href="http://127.0.0.1:5000">
        <img src="/static/img/gkvd.png" width="90" height="90" alt="Главная страница GDVDube"
        style="
            border: 3px solid black;
            border-radius: 15px;
            padding: 5px;
            display: block;
            box-sizing: border-box;
            background-color: white;
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
            ">
        
    </a>

    <p><a href="http://127.0.0.1:5000/liking" class="button"
        style="
            width: 148px;
            height: 18px;
            border: 3px solid black;
            border-radius: 15px;
            padding: 5px;
            display: block;
            box-sizing: b;
            background-color: white;
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
            ">Понравившиеся   
    </a></p>

    <p><a href="http://127.0.0.1:5000/settings" class="button"
         style="
            width: 98px;
            height: 18px;
            border: 3px solid black;
            border-radius: 15px;
            padding: 5px;
            display: block;
            box-sizing: b;
            background-color: white;
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
            ">Настройки
    </a></p>

    <p><a href="http://127.0.0.1:5000/info" class="button"
        style="
            width: 78px;
            height: 18px;
            border: 3px solid black;
            border-radius: 15px;
            padding: 5px;
            display: block;
            box-sizing: b;
            background-color: white;
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
            ">О сайте
    </a></p>

    <p><a href="http://127.0.0.1:5000/help" class="button"
        style="
            width: 78px;
            height: 18px;
            border: 3px solid black;
            border-radius: 15px;
            padding: 5px;
            display: block;
            box-sizing: b;
            background-color: white;
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
            ">Помощь    
    </a></p>

    <p><a href="http://127.0.0.1:5000/complaints" class="button"
        style="
            width: 78px;
            height: 18px;
            border: 3px solid black;
            border-radius: 15px;
            padding: 5px;
            display: block;
            box-sizing: b;
            background-color: white;
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
            ">Жалобы    
    </a></p>

    <p><a href="http://127.0.0.1:5000/channel" class="button"
        style="
            width: 54px;
            height: 40px;
            border: 3px solid black;
            border-radius: 15px;
            padding: 5px;
            display: block;
            box-sizing: b;
            background-color: white;
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
            ">Ваши видео   
    </a></p>
</body>
</html>